body {
  font-family: 'Droid Serif',Georgia,"Times New Roman",serif;
  font-size: 100%;
  line-height: normal;
  box-sizing: border-box;
}

html, body {
  background-color: gray;
}

h1{
  color: white;
  text-shadow: 9px 9px 8px #990121;
  text-transform: uppercase;
}

h1#instructionHeader{
  color: lightgray;
  text-shadow:9px 9px 8px #658eb9;
  text-align: center;
  text-transform: uppercase;
}

ul{
  color: lightgray;
  /*list-style-image: url('../images/chair.png');*/
}

#mainPage {
  background-color: black;
}

#welcomeButton {   background: #990121;
  border: 5px ridge white;
  color: #fff!important;
  text-shadow: none;
  border-radius: 40%;
  width: 50%;
  height: 20%;
  margin-top: 15%;
  font-family: 'Droid Serif',Georgia,"Times New Roman",serif;
  font-style: italic;
  font-size: 140%;}

#form {
  display: none;
}

#instructions {

  margin: 5% auto;
  float: center;
  width: 50%;
  padding: 0.5%;
}

#welcome {
  background: url("../images/theater-banner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#seatContainer {
  width: 75%;
  margin: 0 auto;
  background-color: rgba( 0, 0, 0, 0.7);

  border: 5px ridge gray;
}
#pageContainer {
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px,
}

#mainPage{
  /*display: none; */
  background: url("../images/blueCurtain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
#exitPage{
  display: none;
}
.page {
  height: 100em;
}
/*	height:20em;
}*/
img {
	width: 5em;
}

.seat {
  display: inline-block;
  width: 20%;
}

input{
	display:block;
	margin-bottom:20px;
}


#welcomeContainer{
    width: 95%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin: 0 auto;
    border: 5px ridge  #990121}

footer
{
background: black;
width: 940px;
max-width: 100%;
min-width: 768px;
margin: 0 auto;
padding: 0 0;
padding-top: 3em;
    }

.reserved {
<<<<<<< HEAD
 opacity: 0.7;
=======
opacity: .5;
>>>>>>> d0aa730330641bc7a88bdf64399827fe4c2a6855
}

#seat-info{
  display: block;
}
form {
    width: 33%;
    font-size: 16px;
    background: #43678d;
    padding: 30px 30px 15px 30px;
    border: 5px solid #6d6e69;
    color: white;
    margin: 5% auto;

}

footer {padding: 40px 20px;
    background-color: #43678d;
    text-align: center;
    color: lightgray;
}

ul li a {
  display: inline-block;
  color: lightgray;
}

li a:visited {
  color: white;
}

li a:hover {
  color: lightblue;
}

input#submit {
  background-color: lightgray;
  color: #43678d;
  font-size: 130%;
}

input#submit:hover {
  color: lightgray;
  background-color: #43678d;
}
