body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: normal;
  box-sizing: border-box;
}

h1{
  background-color: rgba(255, 255, 255, 0.5);
}
html, body {
  background-color: gray;
}
h1{
  color: white;
}
#welcome {
  background: url("../images/theater-banner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#seatContainer {
  width: 75%;
  margin: 0 auto;
}
#pageContainer {
  background-color: rgba(255, 255, 255, 0.7);
}


.page {
  height: 100em;
}
/*	height:20em;
}*/
img {
	width: 5em;
}

.seat {
  display: inline-block;
  width: 20%;
}

input{
	display:block;
	margin-bottom:20px;
}